<launch>
  <!-- <rosparam command="load" file="$(find behavior_trees)/data/template.yaml" /> -->
  <param name="behavior_tree" textfile="$(find behavior_trees)/data/template.yaml" />

  <group ns="myrobot">
    <node name="action_name" pkg="behavior_trees" type="template_server" output="screen" />
    <node name="bt_client" pkg="behavior_trees" type="behavior_trees" output="screen" />
  </group>

</launch>